<div class="row d-flex justify-content-end">
  <div class="form-inline form-group">
      <label for="phrase" class="mr-2">Filter: </label>
       <div class="form-group">
          <select class="form-control" id="column" (change)="onChangeColumn($event)">
              <option *ngFor="let col of cols" [value]="col">{{ col }}</option>
          </select>
      </div>     
       <input id="phrase" (keyup)="onChangePhrase($event)" [value]="phrase" class="form-control mr-sm-2" type="text" placeholder="Search">
  </div>
</div>
<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="onChangeOrderColumn('id')">#</th>
          <th (click)="onChangeOrderColumn('name')">Name</th>
          <th (click)="onChangeOrderColumn('email')">Email</th>
          <th (click)="onChangeOrderColumn('address')">Address</th>
          <th (click)="onChangeOrderColumn('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:phrase:column | sorter:orderColumn:orderDirectionAsc">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" 
                      data-toggle="modal" data-target="#confirmDelete"
                      (click)="setUserToDelete(user)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DELETE CONFIRMATION</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <p><strong>You are about to delete <span class="text-primary">{{user.name}}</span>!</strong></p>
        <p><span class="text-danger">This operation is irreversible.</span></p>
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete(user)">Delete</button>
      </div>
    </div>
  </div>
</div>
